h1 {

	  
	color: DodgerBlue;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	text-bo 
	 
	 background-color: black;
	text-align: center;  
}


.image1 {

	background-color: black;
	width: 350px;
	height: 300px;
	margin: 5px;
    border: 1px solid #ccc;
  
}	

.image2 {

	background-color: black;
	width: 350px;
	height: 300px;
	margin: 5px;
    border: 1px solid #ccc;
}	


.image3 {

	background-color: black;
	width: 350px;
	height: 300px;
	margin: 5px;
    border: 1px solid #ccc;
}	

.image4 {

	background-color: black;
	width: 350px;
	height: 300px;
	margin: 5px;
    border: 1px solid #ccc;
}	


.image5 {

	background-color: black;
	width: 350px;
	height: 300px;
	margin: 5px;
    border: 1px solid #ccc;
}	

.image6 {

	background-color: black;
	width: 350px;
	height: 300px;
	margin: 5px;
    border: 1px solid #ccc;
}	


.image7 {

	background-color: black;
	width: 350px;
	height: 300px;
	margin: 5px;
    border: 1px solid #ccc;
    
}	

.image8 {

	background-color: black;
	width: 350px;
	height: 300px;
	margin: 5px;
    border: 1px solid #ccc;
    
}	
.images {

	background-color: black;
}

img.bac {

	width:;
	height:;
}